.Card {
    position: absolute;
    width: 100%;
    text-align: left;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 #70707020;
}

.CardTop {
    display: flex;
    margin-right: 60px;
}

.CardBottom {
    display: flex;
    margin: 0 60px;
    justify-content: space-between;
}

.plus {
    height: 32px;
    width: 32px;
    display: inline-block;
    background-color: #2699FB;
    color: white;
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
}

.plus::before {
    content: "+";
}