

.HeaderImage {
    width: 100%;
}

.BgWhite {
    background: #ffffff;
}
.BgGradient {
    background: linear-gradient(to right, #82DBFF, #519ADF);
}

.Card {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 #70707020;
}

.RegisterPadding {
    padding: 25px 50px;
}

.FreeCourseCol {
    display: flex;
    flex-direction: row;
}

.Text {
    color: #707070;
}

.CourseTitle {
    color: #707070;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}
.CourseDescription {
    color: #707070;
    font-size: 16px;
}
.CourseImage {
    width:80px;
    height: 80px;
}

.VarietyCourses {
    height: 700px;
    background: url("./images/bg2.png") no-repeat;
    background-size: 150% 100%;
    background-position-x: 100%;
    display: flex;
    align-items: center;
}

.CourseSection {
    display: flex;
    flex-direction: column;
    color: #707070;
    font-size: 16px;
    text-align: left;
    line-height: 14px;
}

.CourseSectionSection {
    display: flex;
    flex-direction: row;
}

.CourseSectionBigSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.GetStarted {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.TwoButtons {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.Footer {
    background: linear-gradient(to right, #82DBFF, #519ADF);
    margin: 0;
}
/* Hi future me, fuck you i'm calling this class Yeet  */
.Yeet {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 768px) {
    .CourseSectionBigSection {
        flex-direction: column;
    }
    .GetStarted {
        flex-direction: column;
    }
    .TwoButtons {
        width: 100%;
    }

}


