


.Card {
    flex: 1;
    width: 100%;
    box-sizing: border-box;

}

.Title {
    display: flex;
    justify-content: space-between;
}

.Heart {
    margin-top: 5px;
}

.ButtonDiv {
    display: flex;
    justify-content: end;
}

.Div {
    padding: 0 5px;
    cursor: pointer;
}